<!-- <div class="search-bar">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
        <input type="text" placeholder="Search..." formControlName="searchValue"/>
    </form>
</div> -->

<!-- <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
    <input type="text" placeholder="Search..." formControlName="searchValue"/>
</form> -->
<div class="search-bar">
    <button type="button" class="downloadButton" (click)="multipleDownload()">複数ダウンロード</button>
</div>
<table class="users-table">
    <thead>
        <tr>
            <!-- <th 
                *ngFor ="let column of columns" 
                class="users-table-cell" 
                (click)="sortTable(column)"
            >
                {{ capitalize(column) }}
                <span *ngIf="isDescSorting(column)">▼</span>
                <span *ngIf="isAscSorting(column)">▲</span>
            </th> -->
            <th class="users-table-cell-checkbox">
                <input type="checkbox" (change)="selectedAll()"/>
            </th>
            <th class="users-table-cell">
                動作
            </th>
            <th class="users-table-cell">
                ファイル名
            </th>
            <th class="users-table-cell">
                ファイルサイズ
            </th>
            <th class="users-table-cell">
                更新日付
            </th>
            <th class="users-table-cell-path">
                ファイルパス
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td class="users-table-cell-checkbox">
                <!-- <input type="checkbox" (change)="updateSelected(user['FILE_NO'], $event)"/> -->
                <input type="checkbox" [checked]="user['CHECKED']" (change)="updateSelected(user['FILE_NAME'], $event)"/>
            </td>
            <td class="users-table-cell">
                <button type="button" class="downloadButton" (click)="download(user['FILE_NO'], user['FILE_NAME'])">ダウンロード</button>
                <button type="button" class="deleteButton" (click)="deleteFile(user['FILE_NO'])">削除</button>
            </td>
            <td class="users-table-cell">
                {{ user["FILE_NAME"] }}
            </td>
            <td class="users-table-cell">
                {{ fileSizeUnit(user["FILE_SIZE"]) }}
            </td>
            <td class="users-table-cell">
                {{ user["UPDATE_YEAR"]+"/"+user["UPDATE_MONTH"]+"/"+user["UPDATE_DAY"] }}
            </td>
            <td class="users-table-cell-path-data">
                {{ user["FILE_PATH"] }}
            </td>
        </tr>
    </tbody>
</table>