<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>
<!-- <main class="main"> -->

<main>
  <div class="vh-120 d-flex px-10">
    <nav class="d-flex flex-column h-60 w-25">
      <a class="text-white text-decoration-none bg-primary border border-black rounded p-10p m-20p" routerLink="/path-set">パス設定</a>
      <a class="text-white text-decoration-none bg-primary border border-black rounded p-10p m-20p" routerLink="/file-upload">ファイルアップロード</a>
      <a class="text-white text-decoration-none bg-primary border border-black rounded p-10p m-20p" routerLink="/data">ファイルダウンロード</a>
      <a class="text-white text-decoration-none bg-primary border border-black rounded p-10p m-20p" routerLink="/trash">ゴミ箱</a>
    </nav>
    <nav class="d-flex flex-column justify-content-start h-i w-75">
      <router-outlet />
    </nav>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->