<div class="search-bar">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
        <input type="text" placeholder="Search..." formControlName="searchValue"/>
    </form>
</div>
<table class="users-table">
    <thead>
        <tr>
            <!-- <th 
                *ngFor ="let column of columns" 
                class="users-table-cell" 
                (click)="sortTable(column)"
            >
                {{ capitalize(column) }}
                <span *ngIf="isDescSorting(column)">▼</span>
                <span *ngIf="isAscSorting(column)">▲</span>
            </th> -->
            <th class="users-table-cell">
                動作
            </th>
            <th class="users-table-cell">
                ファイル名
            </th>
            <th class="users-table-cell">
                ファイルサイズ
            </th>
            <th class="users-table-cell">
                更新日付
            </th>
            <th class="users-table-cell">
                ファイルパス
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <!-- <td *ngFor="let column of columns" class="users-table-cell">
                {{ user[column] }}
            </td> -->
            <td class="users-table-cell">
                <!-- 動作 -->
                <button type="button" (click)="cancelDelete(user['FILE_NO'])">削除取り消し</button>
                <button type="button" (click)="deletePermanently(user['FILE_NO'])">永久削除</button>
                <!-- {{ user["FILE_NO"] }} -->
            </td>
            <td class="users-table-cell">
                {{ user["FILE_NAME"] }}
            </td>
            <td class="users-table-cell">
                {{ fileSizeUnit(user["FILE_SIZE"]) }}
            </td>
            <td class="users-table-cell">
                {{ user["UPDATE_YEAR"]+"/"+user["UPDATE_MONTH"]+"/"+user["UPDATE_DAY"] }}
            </td>
            <td class="users-table-cell">
                {{ user["FILE_PATH"] }}
            </td>
        </tr>
    </tbody>
</table>