<div class="vh-100 position-relative border p-2">
    <table class="w-100 my-2" style="table-layout:fixed;">
        <thead>
            <tr>
                <th class="border border-gray p-2">
                    動作
                </th>
                <th class="border border-gray p-2">
                    ファイル名
                </th>
                <th class="border border-gray p-2">
                    ファイルサイズ
                </th>
                <th class="border border-gray p-2">
                    更新日付
                </th>
                <th class="border border-gray p-2">
                    ファイルパス
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td class="border border-gray p-2">
                    <button type="button" class="text-white btn btn-primary me-1" (click)="cancelDelete(user['FILE_NO'])">還元</button>
                    <button type="button" class="text-white btn btn-danger" (click)="deletePermanently(user['FILE_NO'])">永久削除</button>
                </td>
                <td class="border border-gray p-2">
                    {{ user["FILE_NAME"] }}
                </td>
                <td class="border border-gray p-2">
                    {{ fileSizeUnit(user["FILE_SIZE"]) }}
                </td>
                <td class="border border-gray p-2">
                    {{ user["UPDATE_YEAR"]+"/"+user["UPDATE_MONTH"]+"/"+user["UPDATE_DAY"] }}
                </td>
                <td class="border border-gray px-2 overflow-x-scroll">
                    {{ user["FILE_PATH"] }}
                </td>
            </tr>
        </tbody>
    </table>
</div>